{% comment %}
  Copyright (C) 2022 AgoraSMP Team

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, version 3.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% if allowed %}
<div class="bbbbutton" style="display:inline-flex;">
  <a href="/bbbbutton/join/{{ id }}" target="_blank" class="btn {% if enabled %}btn-primary{% else %}btn-info{% endif %}" style="display:inline-flex;align-content: center;justify-content: center;padding: 0;overflow: hidden;width: 100%;" {% if not enabled %}title="Sie können als privilegierter Nutzer beitreten." data-bs-toggle="tooltip" data-bs-placement="bottom"{% endif%}>
    <span style="flex-grow: 1;padding: .375rem .75rem;">{{ name }}</span>
    <span style="background: rgba(255,255,255,0.5); min-width: 3rem; padding: .375rem .75rem; display: flex;align-items: center;justify-content: center;text-shadow: 0 0 3px black;">{% if enabled %}{{ num_active_users }}{% else %}<i class="fas fa-key"></i>{% endif %}</span>
  </a>
</div>
{% else %}
<div class="bbbbutton" style="display:inline-flex;" title="Dieses Meeting ist für Teilnehmer gesperrt. Du kannst es momentan (noch) nicht betreten." data-bs-toggle="tooltip" data-bs-placement="bottom">
  <a class="btn btn-primary disabled" style="display:inline-flex;align-content: center;justify-content: center;padding: 0;overflow: hidden;width: 100%;">
    <span style="flex-grow: 1;padding: .375rem .75rem;">{{ name }}</span>
    <span style="background: rgba(255,255,255,0.5); min-width: 3rem; padding: .375rem .75rem; display: flex;align-items: center;justify-content: center;">&#8212;</span>
  </a>
</div>
{% endif %}
