{% extends "base.html" %}
{% comment %}
    Copyright (C) 2022 AgoraSMP Team

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, version 3.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load static %}

{% block title %}Warteraum{% endblock %}

{% block style %}
    <style>
        html, body {
            display: flex;
            flex-direction: column;
            min-height: 100%;
            width: 100%;
            align-items: center;
            justify-content: center;  
            font-family: Ubuntu, sans-serif;  
        }

        .hr {
            width: 100%;
            border: none;
            height: 1em;
            background: linear-gradient(90deg, rgba(80,80,80,1) 25%, rgba(247,166,0,1) 25%, rgba(247,166,0,1) 30%, rgba(80,80,80,1) 30%); 
            background-size: 400% 200%;
            animation: gradient 2s linear infinite;
        }

        @keyframes gradient {
            0% {
                background-position-x: 0%;
            }
            100% {
                background-position-x: 100%;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Das Meeting hat noch nicht begonnen.</h1>
    <div class="hr"></div>
    <p>Du wirst automatisch weitergeleitet, sobald der Raum offen ist.</p>
{% endblock %}

{% block auxscript %}
    <script src="{% static 'bbbbutton/js/lobby.js' %}"></script>
{% endblock %}